@import "../global.scss";

.register{
  background-color: $tertiaryColor;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}