$grayColor: rgb(116, 116, 116);
$oliveColor: rgb(136 161 144);
$whiteColor: rgb(255, 255, 255);
$darkGrayColor: rgb(62, 62, 62);
$beigeColor: rgb(255, 255, 245);
$errorColor: rgb(180, 23, 23);
$transGrayColor: rgba(116, 116, 116, 0.432);

$primaryColor: rgb(116, 116, 116);
$secondaryColor: rgb(89, 117, 98);
$tertiaryColor: rgb(255, 255, 255);
$publicationsColor: rgb(62, 62, 62);

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{1170px}) {
    @content;
  }
}
