@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Raleway:wght@200;300;400;500;600;700&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

* {
  font-family: "Raleway";
  // display: "block";
}
