# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client

temp/node_modules
temp/.pnp
temp/.pnp.js

# testing
temp/coverage

# production
temp/build

# misc
temp/.DS_Store
temp/.env.local
temp/.env.development.local
temp/.env.test.local
temp/.env.production.local

temp/npm-debug.log*
temp/yarn-debug.log*
temp/yarn-error.log*

flask-server/__pycache__
flask-server/database