{% extends 'base.html' %}


{% block head %}
<title> Person's Items </title>
{% endblock %}


{% block body %}
<div class="content">
	<h1 style="text-align: center">Update Item</h1>

	<form method = "POST">
		<!-- generates token -->
		{{ form.hidden_tag() }}

		{{ form.name.label }}
		{{ form.name() }}
		<br/>
		{{ form.category.label }}
		{{ form.category() }}
		<br/>
		{{ form.quantity.label }}
		{{ form.quantity() }}
		<br/>
		{{ form.date_expire.label }}
		{{ form.date_expire() }}
		<br/>
		{{ form.location.label }}
		{{ form.location() }}
		<br/>
		{{ form.note.label }}
		{{ form.note() }}
		<br/>
		{{ form.submit() }}
	</form>
	
</div>
{% endblock %}