{% extends 'base.html' %}


{% block head %}
<title> Person's Items </title>
{% endblock %}


{% block body %}
<div class="content">
	<h1 style="text-align: center">Item List</h1>
	{% if items|length < 1 %}
	<h4> There are no items. Add below.</h4>

	{% else %}
	<table>
		<tr>
			<th>Item</th>
			<th>Category</th>
			<th>Quantity</th>
			<th>Expiration Date</th>
			<th>Location Stored</th>
			<th>Actions</th>
		</tr>
		{% for item in items %}
			<tr>
				<td>{{ item.name }}</td>
				<td>{{ item.category }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.date_expire.date() }}</td>
				<td>{{ item.location }}</td>
				<td>
					<a href="/items/update/{{item.id}}">Update</a>
					<br>
					<a href="/items/delete/{{item.id}}">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}

	<form method = "POST">
		<!-- generates token -->
		{{ form.hidden_tag() }}

		{{ form.name.label }}
		{{ form.name() }}
		<br/>
		{{ form.category.label }}
		{{ form.category() }}
		<br/>
		{{ form.quantity.label }}
		{{ form.quantity() }}
		<br/>
		{{ form.date_expire.label }}
		{{ form.date_expire() }}
		<br/>
		{{ form.location.label }}
		{{ form.location() }}
		<br/>
		{{ form.note.label }}
		{{ form.note() }}
		<br/>
		{{ form.submit() }}
	</form>
	
</div>
{% endblock %}