@import "../global.scss";

.has-house {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 300%;
    color: $darkGrayColor;
    padding-bottom: 30px;
    position: relative;
    top: 15px;

    @include mobile {
      top: -15px;
    }
  }

  .issue {
    display: none;

    &.active {
      display: block;
      font-weight: 200;
      font-size: 100%;
      color: $errorColor;
      margin-bottom: 0px;
    }
  }

  .house-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .action {
      text-decoration: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      color: $grayColor;

      .icon {
        font-size: 200%;

        @include mobile {
          font-size: 180%;
        }
      }

      label {
        font-size: 80%;
        font-weight: 500;
      }
    }
  }

  .details {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding: 14px 0px;

    .label {
      width: 20%;
      height: 95%;
      position: relative;
      top: 0px;
      font-weight: 500;
      font-size: 150%;
      color: $grayColor;
      text-align: right;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      label {
        padding: 10px 0px;
      }

      @include mobile {
        width: 45%;
        padding: 8px;
        font-weight: 650;
        font-size: 130%;
      }
    }

    .value {
      width: 55%;
      height: 95%;
      position: relative;
      top: 0px;
      font-weight: 300;
      font-size: 150%;
      color: $grayColor;
      text-align: left;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      span {
        padding: 10px 0px;
      }

      @include mobile {
        width: 55%;
        padding: 8px;
        font-weight: 450;
        font-size: 130%;
      }

      .table_container {
        display: block;
        position: relative;
        width: 90%;
        max-height: 70%;
        overflow-x: auto;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding-top: 10px;

        .table {
          display: table;
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;

          .table_head {
            display: table-header-group;

            .top_row {
              display: table-row;
              vertical-align: middle;

              th {
                display: table-cell;
                border-bottom: 2px solid $transGrayColor;
                padding: 5px 10px;
                font-size: 90%;
                font-weight: 500;
                text-align: left;

                &.bool {
                  text-align: center;
                  width: 10%;
                }
              }
            }
          }

          .table_body {
            display: table-row-group;

            .rows {
              display: table-row;
              vertical-align: middle;

              .primary {
                display: table-cell;
                line-height: 1.3;
                border-bottom: 0.5px solid $transGrayColor;
                font-weight: 300;
                font-size: 80%;
                padding: 7px 10px;

                &.bool {
                  text-align: center;

                  .admin {
                    color: $oliveColor;
                  }

                  .not-admin {
                    color: $errorColor;
                  }

                  .verify {
                    color: $errorColor;
                  }
                }
              }
            }
          }
        }
      }
    }

    @include mobile {
      height: 40%;
      padding: 10px;
      position: relative;
      top: -20px;
    }
  }
}
